
ul {
    width: 100%;
    position: fixed;
    background: moccasin;
    border-bottom: 2px solid black;
    z-index: 5;
}

.nav-link.active {
    background-color: rgba(252, 211, 141, 0.747) !important;
    border-color: moccasin !important;
}

.nav-link {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover {
    color: grey;
}