
@font-face {
  font-family: "Trixie";
  src: url(TrixieText.ttf) format("truetype");
}

* { 
  font-family: "Trixie", Verdana, Tahoma;
  font-weight: bold;
}

.App {
  text-align: center;
}

.background {
  background: url("vintage-paper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  
}
