
.photoback {
    z-index: 1;
    width: 325px;
    align-content: center;
    padding-bottom: 60px;
    padding-top: 25px;
    background-color: white;
    margin-left: 10%;
}

.photo {
    z-index: 2;
    margin-left: 37.5px;
}

#mugshot {
    width: 250px;
    height: auto;
    
}