
.photoback {
    z-index: 1;
    width: 350px;
    align-content: center;
    padding-bottom: 75px;
    padding-top: 20px;
    background-color: white;
}

.photo {
    z-index: 2;
    margin-left: 25px;
}

#mugshot {
    width: 300px;
    height: auto;
}